<h1>Acceso no autorizado</h1>
<div class="alert alert-danger">
    <p>
        Usted no cuenta con los permisos suficientes para realizar esta acción. Si no está de acuerdo, consulte con el administrador del sistema.
    </p>
</div>