@model Web.Models.Accounts.ConfirmAndSetPasswordViewModel

<h4>Confirme su usuario</h4>
<p>Hola @Model.DisplayName, finalice la creación de su usuario establece una contraseña.</p>

<form asp-action="ConfirmAndSetPassword" asp-controller="Accounts" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Code" />
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="form-group">
        <label asp-for="Email" />
        <span class="form-control">@Model.Email</span>
    </div>
    <div class="form-group">
        <label asp-for="Password" />
        <input asp-for="Password" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" />
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>