@model Application.Ingredients.Queries.GetIngredientDetail.IngredientModel

<div class="row">
        <div class="card">
            <img class="card-img-top" src="@Model.ImageUrl" style="max-height: 500px; width: auto" alt="@Model.Name">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
            </div>
        </div>
</div>