@model Web.Models.States.EditStateViewModel

<h1>@Model.Name - Editar</h1>

<form action="/States/Edit/" method="post">
    @Html.HiddenFor(model => model.Id)
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class="form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>